{% extends 'base.html.twig' %}

{% block title %} To Do List app - edit task {% endblock %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
    <div class="row m-2">
        <h1 class="h3 mb-3 font-weight-normal">Modifier la tâche <strong>" {{ task.title }} "</strong></h1>

        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}

        {{ form_row(form.title, {'row_attr': {'class': 'mb-2'}}) }}
        {{ form_row(form.content, {'row_attr': {'class': 'mb-2'}}) }}

        <p><em>Crée par {%  if not task.user %} Anonyme {% else %} {{ task.user.username }} {% endif %} </em></p>

        <div class="d-flex justify-content-between">
            <a href="{{ path('task_list') }}" class="btn btn-info">Retour à la gestion des tâches</a>
            <button type="submit" class="btn btn-success">Modifier</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
