{% extends 'base.html.twig' %}

{% block body %}
    <div class="row m-2">
            {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}

            {{ form_row(form.title, {'row_attr': {'class': 'mb-2'}}) }}
            {{ form_row(form.content, {'row_attr': {'class': 'mb-2'}}) }}

            <p><em>Crée par {%  if not task.user %} Anonyme {% else %} {{ task.user.username }} {% endif %} </em></p>

            <div class="d-flex justify-content-between">
                <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à la gestion des tâches</a>
                <button type="submit" class="btn btn-success">Modifier</button>
            </div>

            {{ form_end(form) }}
    </div>
{% endblock %}
