{% extends 'base.html.twig' %}

{% block title %} To Do List app - edit user {% endblock %}

{% block body %}
    <div class="row m-2">
        <h1 class="h3 mb-3 font-weight-normal">Modifier <strong>" {{ user.username }} "</strong></h1>

        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}

        {{ form_row(form.username, {'row_attr': {'class': 'mb-2'}}) }}
        {{ form_row(form.password.first, {'row_attr' : {'class' : 'mb-2'}}) }}
        {{ form_row(form.password.second, {'row_attr' : {'class' : 'mb-2'}}) }}
        {{ form_row(form.email, {'row_attr': {'class': 'mb-2'}}) }}
        {{ form_row(form.roles, {'row_attr': {'class': 'mb-2'}}) }}

        <div class="d-flex justify-content-between">
            <a href="{{ path('user_list') }}" class="btn btn-info">Retour à la gestion des utilisateurs</a>
            <button type="submit" class="btn btn-success">Modifier</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
