<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap 5.1.1 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
              crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

        <link rel="icon" type="image/png" href="{{ asset('/favicon.ico') }}"/>
    </head>

    <body>
        <nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>

                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                    </a>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="d-flex justify-content-between m-2">
                <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>

                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
                {% endif %}

                {% if not app.user and 'app_login' != app.request.attributes.get('_route') %}
                    <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
                {% endif %}
            </div>

            <div class="row m-2">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}
                        <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
                    {% endblock %}
                 </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">
        <hr>

        <footer>
            <div class="d-flex justify-content-end">
                <p>Copyright &copy; OpenClassrooms</p>
            </div>
        </footer>
    </div>

    <!-- Bootstrap 5.0.1 js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
                integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
                crossorigin="anonymous">
        </script>
    </body>
</html>
